[user]
	name = Carlos Eduardo Sanchez Torres (sanchezcarlosjr)
	email = hello@sanchezcarlosjr.com
	username = sanchezcarlosjr
[core]
        excludesfile = ~/.dotfiles/git/.gitignore
[init]
	defaultBranch = main
