[user]
	name = sanchezcarlosjr
	email = 24639141+sanchezcarlosjr@users.noreply.github.com
	username = sanchezcarlosjr
	signingkey = E2EEFA3FE1301D3A
[core]
  excludesfile = ~/.dotfiles/git/.gitignore
	autocrlf = input
[init]
	defaultBranch = main
[commit]
	gpgsign = true
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
