[user]
	name = Carlos Eduardo Sanchez Torres (sanchezcarlosjr)
	email = 24639141+sanchezcarlosjr@users.noreply.github.com
	username = sanchezcarlosjr
[core]
        excludesfile = ~/.dotfiles/git/.gitignore
[init]
	defaultBranch = main
