[submodule "modules/dotly"]
	path = modules/dotly
	url = https://github.com/CodelyTV/dotly.git
	branch = main
[submodule "editors/nvim"]
	path = editors/nvim
  url = git@github.com:sanchezcarlosjr/nvim.git
  branch = main
