# If you modify this execute `zimfw uninstall & zimfw install`
zmodule zimfw/environment --use degit
zmodule zimfw/git-info --use degit
zmodule zimfw/input --use degit
zmodule zimfw/completion --use degit
zmodule zsh-users/zsh-syntax-highlighting --use degit
zmodule zsh-users/zsh-autosuggestions --use degit
zmodule romkatv/powerlevel10k --use degit
